.subtask{
    margin: 1em;
    width: 90%;
}

.content{
    width: 90%;
    text-align: justify;
    background-color: lightblue;
    padding: 0.5em;
    display: inline-block;
    margin-left: 1em;
    box-shadow: 0 0 10px gray;
}



.date {
    margin-left: 2em;
}

.check {
	position: absolute;
	z-index: -1;
    opacity: 0;
	margin: 10px 0 0 7px;
	
}
.check + label {
	position: relative;
    padding-right: 3em;
    padding-bottom: 8px;
	cursor: pointer;
}
.check + label:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 22px;
	height: 22px;
	border: 1px solid #CDD1DA;
	border-radius: 50%;
    background: #FFF;
    display: none;
}
.check + label:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background: #dc3545;
	opacity: 0;
	transition: .2s;
}
.check:checked + label:after {
	opacity: 1;
}